
.cards figure img
{
    height: initial;
}

/* <!-- ********** SECTION CARDS ********** --> */


.cards-img-mobile
{
    display: none;
}


.cards:first-child
{
    padding-top: 5.875rem;
    padding-bottom: 0rem;
}


.cards:last-child
{
    padding-bottom: 0;
}


.cards
{
    padding-top: 5rem !important;
    padding-bottom: 0;
}


.cards:nth-child(even)
{
    flex-direction: row-reverse;
}


.cards div p
{
    margin-bottom: 2.125rem;
    padding-bottom: 0;
}


/* <!-- ********** SECTION CONTACT ********** --> */


.main-contact
{
    margin-top: 9.625rem;
    margin-bottom: 8.1875rem;
}


/* <!-- ********** RESPONSIVE ********** --> */


@media screen and (max-width: 767px) {


    .cards-img-desktop
    {
        display: none;
    }


    .cards-img-mobile
    {
        display: initial;
    }


    .cards:nth-child(even)
    {
        flex-direction: column;
    }


    .cards:first-child
    {
        padding-top: 2.5rem !important;
    }


    .cards div p
    {
        font-size: 0.9375rem;
        margin-bottom: 7.0625rem;
    }


    .cards div
    {
        margin-bottom: 0rem;
    }


    /* <!-- ********** SECTION CONTACT ********** --> */


    .main-contact
    {
        margin-top: 5.25rem;
        margin-bottom: 5rem;
    }
}


@media screen and (min-width: 419px) and (max-width: 767px) {


/* POUR QUE L'IMAGE SOIT PLUS NETTE CAR LA VERSION MOBILE DEVIENT FLOU QUAND ELLE EST ENTRE 419 ET 767 PX (GRAND SMARTPHONE) */


    .cards-img-desktop
    {
        display: initial;
    }


    .cards-img-mobile
    {
        display: none;
    }

}



@media only screen and (min-width: 768px) and (max-width: 991px) {


    .cards
    {
        align-items: center;
    }


    .cards div
    {
        padding-bottom: 5rem;

    }


    .cards div 
    {
        margin-right: 4.3125rem;
    }


    .main-contact
    {
        margin-bottom: 5rem;
        margin-top: 6.25rem;
    }

    .btn-home
    {
        margin-left: 1rem;
    }

    
}


@media only screen and (min-width: 992px) and (max-width: 1140px) {


    .cards
    {
        align-items: center;
    }
}


























@media only screen and (min-width: 768px) and (max-width: 991px)

@media only screen and (min-width: 992px) and (max-width: 1200px)

@media only screen and (min-width: 1200px) and (max-width: 1399px)